<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>


<!-- pick your teams page -->

<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <title>Hello HTML!</title>
  </head>

  <body>
    <header>
      <!-- Headers -->
      <h1>Hello World!</h1>
      <h2>Hello World!</h2>
      <h3>Hello World!</h3>
      <h4>Hello World!</h4>
      <h5>Hello World!</h5>
      <h6>Hello World!</h6>
    </header>

    <section>
      <!-- Image -->
      <img src="https://via.placeholder.com/200" alt="placeholder image"/>

      <!-- Paragraph -->
      <p>This is a paragraph.</p>
      <p>This is a paragraph with <strong>BOLDED TEXT</strong>.</p>
    
       <!-- Unordered list -->
       <ul>
        <li>This is list item one</li>
        <li>This is list item two</li>
        <li>This is list item three</li>
      </ul>

      <!-- Link -->
      <a href="https://www.google.com">This is a link to Google.com</a>
    </section>
  </body>

</html>

 
 
