<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>


<!-- pick your teams page -->

<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <title>Make you choice!</title>
  </head>

  <body>
    <header>
      <h1> <display:block> Teams you've used</display:block> </h1>
      <div class="card">
        <label for="Teams You've Used">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <h1><display:block>Teams available to you</display:block></h1>
      <div class="card">
        <label for="Teams Available to you">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <h1> select team (button) </h1>
      <div class="button">
        <label for="Select Team">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
     </header>

  </body>

</html>

 
 
